@mixin flexible($direction, $corte, $just, $align) {
  display: flex;
  flex-flow: $direction $corte;
  justify-content: $just;
  align-items: $align;
}
@mixin grid($colum, $spacio) {
  display: grid;
  grid-template-columns: repeat($colum, 1fr);
  gap: $spacio;
}
@mixin mv($medida: 480px) {
  @media screen and (min-width: $medida) {
    @content;
  }
}
@mixin neo($radius, $eje) {
  border-radius: $radius;
  background: #e0e0e0;
  box-shadow: $eje $eje ($eje * 2) #bebebe, (-$eje) (-$eje) ($eje * 2) #fff;
}
